html, body{
    font-family: monospace;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}
.formInformation{
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid 1px black;
    border-radius: 15px;
    padding: 20px;
}
.formInformation img{
    width: 300px;
    height: auto;
    border-radius: 360px;
}
.formInformation h3{
    font-size: 30px;
}
.rank{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.rank input, button{
    height: 40px;
    border-radius: 10px;
    font-size: larger;
}